/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', Tahoma, sans-serif;
}

h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 4em;
}
